<!-- <h1>Ship#new</h1>
<p>Find me in app/views/ship/new.html.erb</p> -->

<h2>New Ship</h2>

  <%= form_for @ship, :html => { :multipart => true } do |f| %>


  <div class="field">
    <%= f.label :Ship %><br />
    <%= f.text_field :name, autofocus: true %> <br />
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :Container_Amount %><br />
    <%= f.number_field :container, autofocus: true %>
  </div>


  <div class="field">
    <%= f.label :Location %><br />
    <%= f.select :location, ['New York', 'California', 'Florida', 'France', 'Canada', 'Texas', 'China'] %><br /><br />
    <%= f.file_field :photo %><br><br />
    <%= f.collection_check_boxes(:job_ids, Job.all, :id, :body) do |b| %><br /><br />
    <%= b.label class:'label-checkbox' do %><br /><br />
    <%= b.check_box + b.text%>

      <% end %>
    <% end %>

  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
 <% end %><br />

 <%= link_to 'Back', root_path %><br />
 <%= link_to 'Profile', ships_path %>
